.tartalom
{
background-color: lightblue;
border: 2px solid grey;
padding: 10px;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    text-decoration: underline;
}

p {
    text-align: justify;
}

ul
{
list-style-type: none;
text-align: left;
padding: 10px;
float: left;
width: 100%;
background-color: blue;
color: yellow;
}

li
{
display: inline;
padding-left: 40px;
}

#auto
{
float: right;
width: 250px;
}

.kiemelt
{
color: red;
font-weight: bold;
}

body
{
background-color: blue;
}

a
{
color: yellow;
text-decoration: none;
}

.forras {
    text-align: right;
}

button {
    display:block;
}

#form {
    margin-left:220px;
}

label {
    display: inline-block;
    width: 150px;
    margin-bottom:20px;
}